.Problem {

    margin-top: 5rem;
    padding-left: 3rem;
    padding-block: 4rem;
    /* border: 2px solid red; */
    background-color: #07288B;
    color: #fff;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.groupf-container {
    position: relative;
}

.groupf-container img {
    height: 400px;
}


#blue {
    height: 200px;
    position: absolute;
    right: -140px;
    top: 100px;
}

.groupf {
    height: 400px;
}


.Problem h1 {
    color: #FFF;
    font-family: Poppins;
    padding-top: 1rem;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}



.fristStoryQoute>h2,
.secStoryQoute>h2,
.thiredStoryQoute>h2 {
    font-family: NexaBold;
    font-weight: 400;
    font-size: 25px;
    padding-block: 0px !important;
    color: #fff;
    line-height: 40px;


}

.fristStoryQoute>h2,
.thiredStoryQoute>h2 {
    color: #3F3F3F;
    opacity: 0.1;

}

/* animation code */


.StoryCarousels {
    position: relative;
    width: 80%;
    height: 430px;
    margin: 50px;
    margin-left: 0px;
    overflow: hidden;
    visibility: hidden;
    cursor: pointer;
    z-index: -2;

}

.singleQuotes {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100px;
    background: transparent;
    padding-left: 10px;
    font-family: sans-serif;
    color: black;
    font-size: 10px;
    font-weight: 800;
    line-height: 60px;
    z-index: 1;
}


.processmaindiv{
    width: 70%;
}



@media (min-width:320px) and (max-width:491px) {
    .Problem {
        margin-top: 10rem;
        padding-left: 2rem;
    }

    .fristStoryQoute>h2,
    .secStoryQoute>h2,
    .thiredStoryQoute>h2 {
        font-size: 16px;
        line-height: 30px;
    }

    .Problem h1 {
        font-size: 40px;

    }

    .groupf-container{
        display: none;
    }

    .processmaindiv{
        width: 70%;
        flex-basis: 500px;
    }
    
    

    
}

@media (min-width:482px) and (max-width:641px) {
    .Problem {
        margin-top: 10rem;
        padding-left: 2rem;
    }

    .fristStoryQoute>h2,
    .secStoryQoute>h2,
    .thiredStoryQoute>h2 {
        font-size: 18px;
    }

    .groupf-container{
        display: none;
    }

    .Problem h1 {
        font-size: 30px;

    }

    .processmaindiv{
        width: 70%;
        flex-basis: 500px;
    }
    
    


}

@media (min-width: 642px) and (max-width:1025px) {
    .Problem {
        margin-top: 10rem;
    }

    .fristStoryQoute>h2,
    .secStoryQoute>h2,
    .thiredStoryQoute>h2 {

        font-size: 25px;
    }


    .groupf-container{
        display: none;
    }

    .Problem h1 {
        font-size: 40px;

    }
    


}

@media (min-width:1026px) and (max-width:1281px) {
    .Problem {
        margin-top: 10rem;
    }

    .fristStoryQoute>h2,
    .secStoryQoute>h2,
    .thiredStoryQoute>h2 {
        font-size: 30px;
    }

    .StoryCarousels {
        width: 80%;
    }
}