.problemstatement , .fristproblemstatement__text{
    margin-top: 5rem;
}

.fristproblemstatement__text>h2,
.secproblemstatement__text>h2 {
    font-family: NexaBold;
    color:  var(--textBlack2);
    margin-top: 40px;
    line-height: 50px;
    font-weight: 400;
    word-spacing: 20px;
    font-style: normal;
}


.problemstatement__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 200px;
 
    
}

#heading2{

    font-size: 35px;
}

.secproblemstatement__text {
    /* padding-top: 30px; */
    color: #3F3F3F;
    /* opacity: 0.1; */
}

.problemstatement__img>img {
    width: 550px;
    height: 450px;
    margin-top: 120px;
    border-radius: 8px;
    object-fit: cover;
}

.problemstatement__img {
    position: relative;
    bottom: 3rem;
}


@media (min-width:320px) and (max-width:641px) {

    .problemstatement , .fristproblemstatement__text{
        margin-top: 0rem;
  
    }
    
    .problemstatement__img {
        display: none;
    }

    .problemstatement__text {
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 10px 15px;
      
      
    }

        #heading2{
            padding: 10px 15px;
            font-size: 18px;
       
        }

    
}



@media (min-width:642px) and (max-width:961px) {
    .fristproblemstatement__text>h2,
    .secproblemstatement__text>h2 {
        font-size: 27px;
    }

    #heading2{
        font-size: 23px;
        line-height: 44px;
    }


    .problemstatement__img>img {
        width: 220px;
        height: 220px;
    }
    .problemstatement__text {
        padding:0 10px 50px 78px;
    }
}

@media (min-width:920px) and (max-width:1025px) {
    .fristproblemstatement__text>h2,
    .secproblemstatement__text>h2 {
        font-size: 38px;
       
    } 

    
    #heading2{
        font-size: 20px;
        line-height: 44px;
    }


    .problemstatement__img>img {
        width: 250px;
        height: 250px;
    }
    .problemstatement__text {
        padding:0 80px 50px 88px;
        
    }
}

@media (min-width:1026px) and (max-width:1381px) {
    .fristproblemstatement__text>h2,
    .secproblemstatement__text>h2 {
        font-size: 50px;
     
    } 
    .problemstatement__img>img {
        width: 400px;
        height: 350px;
        object-fit: cover;
    }
    .problemstatement__text {
        padding:0 100px 50px 108px;
    }

}

@media (min-width:900px) and (max-width:1025px) {
    .fristproblemstatement__text>h2,
    .secproblemstatement__text>h2 {
        font-size: 45px;
    }  
}



@media (min-width:1350px) and (max-width:1600px) {

    .problemstatement__text {
        padding:0 100px 50px 108px;
    }

}
